.detail-page{
 width: 100vw;
 height: 100vh;
 display:flex;
 align-items: center;
 justify-content: center;
 position: relative;
 background-color: black;
}

.detail-background{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}
.detail-content{
    min-width: 450px;
    max-width: 750px;
    padding: 50px;
    top: 25%;
    left: 25%;
    border: 1px solid #fff;
    z-index: 10;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.close-page{
    top: 0%;
    left: 96%;
    position: absolute;
    font-size: 1.5rem;
    font-weight: 700;
}
.close-page:hover{
    cursor: pointer;
}
.port-id{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 20px;
}
.port-name{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.2;
}
.port-city{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;

}
.detail-desc{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    font-style: italic;
}